.videoContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
/*  display:flex;
  justify-content:center;
  align-items:center;*/
/*  top: 50%; 
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);*/
  z-index: -1;
  overflow: hidden;
}
.videoContainer video {
    width:100%;
    height: 100%;
    object-fit:cover;
    z-index: 1;
    filter: blur(5px);
    transform: scale(1.05);
}
/*.videoContainer .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: white;
    opacity: .9;
}*/
.firstSlide .panel svg {
  width: 27px;
  height: 27px;
}

.darkCyan {
  background: #00728c !important;
  color: #fff !important;
}
.darkCyan svg {
  fill: #fff !important;
}

.text-darkCyan {
  color: #00728c !important;
}
.text-darkCyan.button svg {
  fill: #00728c !important;
}

.stroke.button.darkCyan {
  color: #00728c !important;
  border-color: #00728c !important;
}
.stroke.button.darkCyan svg {
  fill: #00728c !important;
}